*{
    font-family: "inter";
    margin:0px;
   }
#titulo-menusuperior{
  
    font-size: xx-large;
    margin-left: 60px;
    padding-top:80px;

}
#texto-menusuperior{
   font-size: small;
   padding-bottom: 80px;
   margin-left: 60px;
}
#menusuperior{
    background-color: #303030;
    color: #FFFFFF;

}
#menuinformacional{
    background-color:#F9F9F9;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-rows: 30px;
    margin-bottom: 100px;
 }
.titulo{
    margin: 50px 50px 50px 75px;

}
#secaoimagem{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.textoinformativo{
    margin:75px;
    display: flex;
    align-items:self-end
}
#titulotextoimagem{
    margin: 180px 40px 50px 100px;
    text-align: justify;
}
#imagem{
    margin:0px 80px 50px 100px;
    height: 500px;
}
#secaoformulario{
    text-align: center;
    background-color: #303030;
    padding-top:15px;
    padding-bottom: 15px;
}
#titulo-formulario{
    font-size: 25px;
    color:#FFFFFF;
    margin:25px; 
}

input{
    width: 300px;
    height: 40px;
    background-color: #FFFFFF;
    margin: 15px;
    border:0px;
    border-radius: 5px;
    padding-left:10px ;
    color:#0000004D;
    ;
}
button{
    background-color:#C07212;
    Width: 180px;
    Height:40px;
    border:0px;
    border-radius: 5px;
    color:#FFFFFF;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color:#eb9c3d; 
    color: white;
    transform: translateY(-3px);
    box-shadow:0px 10px 15px #3d2a124b;
    transition-duration: 0.5s; 
    }
}